@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'modules/mixins';
@import 'modules/reset';
@import 'modules/base';
@import 'modules/layout';
@import 'modules/font-face';
@import 'modules/fontawesome';
@import 'modules/open-iconic';
@import 'modules/typography';
@import 'modules/social-media';
@import 'modules/fontawesome-anchor-helpers';
@import 'modules/animate';
@import 'modules/rollovers';


// HEADER HOME
.site-header {
  @include pad(32px 16px);
  background-color: $white;
  height: 106px;
  /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);*/

  svg {
    width: 42px;
    height: 42px;
    float:left;
    margin-right: 10px;
  }
  h1, h2 {
    vertical-align:top;
    text-transform: uppercase;
    font-weight: 500;

  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: .8rem;
    line-height: .8;
    color: $grey-text;
  }

}

// MAIN HOME PAGE

.homepage {
  @include outer-container();

  .postthumb {
    @include span-columns(12);
    @include pad(0 16px 16px);
    background-color: $white;
    position:relative;
  }

}

footer {
  @include pad(16px);

.my-social {
  @include row();

  ul {
    @include fill-parent();
    @include row(table);

  li {
    @include reset-display;
    @include pad(0);
    @include span-columns(2 of 10);
    text-align:center;

    a {
      background:$grey-bg;
      display:inline-block;
      @include padding(8px);
    }
    svg {
      width: 32px;
      height: 32px;
      fill: blue;
      transition: fill .5s ease-in 6s;
      vertical-align:middle;
    }
  }

  }
}


}


/*** Delete the following. Disposable styling for the included homepage (layouts/index.html) in Hugo-starter.***/

/*

.main {
    position: relative;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $footer-height;
    z-index: 1;
    a {
        color: #01589B;
    }
    article {
        padding-top: 0px;
        margin-top: 0px;
        background-color: $body-background;
    }
}



span.dropcap {
    float: left;
    color: $accent-color;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    padding-bottom: -5px;
    font-family: Georgia;
}



ul.article-tags {
    display:inline;
    li {
        display:inline;
        a{
            font-weight:normal;
            color:white;
            background-color:$base-font-color;
            padding:3px;
        }
    }
}

svg.icon {
    max-width: 2rem;
    max-height: 2rem;
    padding: 0px;
    border: none;
    border-radius:5px;
}

ul.site-footer-social {
    li {
        display: inline;
    }
}*/
