@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'modules/mixins';
@import 'modules/reset';
@import 'modules/base';
@import 'modules/layout';
@import 'modules/font-face';
@import 'modules/fontawesome';
@import 'modules/open-iconic';
@import 'modules/typography';
@import 'modules/social-media';
//@import 'modules/fontawesome-anchor-helpers';
@import 'modules/animate';
@import 'modules/rollovers';

$border-box-sizing: true !default;
$max-width: em(1000) !global;

// HEADER HOME
.site-header {
  @include pad(32px 16px);
  background-color: $white;
  height: 106px;
  /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);*/
  svg {
    width: 42px;
    height: 42px;
    position: absolute;
  }
  h1,
  h2 {
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 52px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
    line-height: 0.8;
    color: $grey-text;
  }
}

.site-header {
  &.work {
    @include pad(16px);
    height: 74px;

    h1, h2 {
      color: $white;
    }
    h2 {
      text-transform: none;
    }
  }
  &.an {
  background: $an;
  }
  &.me {
  background: $me;
  }
  &.cs {
  background: $cs;
  }
  &.ro {
  background: $ro;
  }
  &.ca {
  background: $ca;
  }
  &.da {
  background: $da;
  }
  &.ob {
  background: $ob;
  }
  &.sb {
  background: $sb;
  }
} // header

.header-wrap {
  @include MQ(M) {
    @include outer-container(900px);
  }
}

.main {
  @include pad(0 16px 0 16px);
  header.section {
    @include row();
    @include pad(32px 0 8px);
    }
}

.content-wrap {
  @include outer-container();
}

// MAIN HOME PAGE
  .postthumb {
    @include span-columns(12);
    @include pad(0 0 16px);
    background-color: $white;
    position: relative;
    @include MQ(M) {
      @include span-columns(6);
      @include omega(2n);
      //@include pad(0 0 16px);
    }
    @include MQ(L) {
      @include omega-reset(2n);
      @include span-columns(4);
      @include omega(3n);
      //@include pad(0 0 16px);
    }
    &.dribbble {
      @include MQ(L) {
        @include omega-reset(3n);
        @include span-columns(3);
        @include omega(4n);
        //@include pad(0 0 16px);
      }
    }
  } //posthumb

footer {
  @include pad(16px);
  @include row();
} //footer

.site-copyright {
  @include pad(32px 0 0 0);
  text-align:center;
  p {
    font-size: .8rem;
  }
}

@mixin icon($bg) {
  a {
    background: $bg;
    display: inline-block;
    @include padding(8px);
    &:hover {
      $scale-hover: 1.15;
      @include transform( scale($scale-hover) );
      border-radius: 100%;
      background: $black;
      svg {
        $scale-hover: 0.8;
        @include transform( scale($scale-hover) );
      }
    }
  }
  svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.my-social {
  @include outer-container;
    div {
      @include span-columns(2.4);
      display:block;
      text-align:center;
      @include icon(darken($grey-bg, 10));
  }
  &.share {
    margin-bottom: 92px;
    div {
      @include span-columns(3);
    }
  }
}
.social-wrap {
  @include MQ(M) {
    @include outer-container(70%);
  }
  @include MQ(L) {
    @include outer-container(50%);
  }
}

// CONTENT ON WORK
article.content {
  @include padding(16px 0 0);
  @include MQ(M) {
    @include outer-container(900px);
  }
  p:last-child {
    margin-bottom:0;
  }
} //content

.share p {
    border-bottom: 1px solid $grey-bg;
    margin-bottom: 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;

    span {
       background:  $white;
       padding: 0 15px;
       position: relative;
       top: 13px;
   }
}

.site-footer-navigation {
  position: fixed;
  bottom: 16px;
  width: 100%;

  ul {
    display: flex;
    list-style-type: none;

    li {
      flex: 1;
      text-align: center;
      @include icon(rgba($white, .5));
      a:hover .icon-nav {
        fill: $white;
      }
    }

  }
}

/*** Delete the following. Disposable styling for the included homepage (layouts/index.html) in Hugo-starter.***/
/*

.main {
    position: relative;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $footer-height;
    z-index: 1;
    a {
        color: #01589B;
    }
    article {
        padding-top: 0px;
        margin-top: 0px;
        background-color: $body-background;
    }
}



span.dropcap {
    float: left;
    color: $accent-color;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    padding-bottom: -5px;
    font-family: Georgia;
}



ul.article-tags {
    display:inline;
    li {
        display:inline;
        a{
            font-weight:normal;
            color:white;
            background-color:$base-font-color;
            padding:3px;
        }
    }
}

svg.icon {
    max-width: 2rem;
    max-height: 2rem;
    padding: 0px;
    border: none;
    border-radius:5px;
}

ul.site-footer-social {
    li {
        display: inline;
    }
}*/
