@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'modules/mixins';
@import 'modules/reset';
@import 'modules/base';
@import 'modules/layout';
@import 'modules/font-face';
//@import 'modules/fontawesome';
@import 'modules/open-iconic';
@import 'modules/typography';
@import 'modules/social-media';
//@import 'modules/fontawesome-anchor-helpers';
@import 'modules/animate';
@import 'modules/hovereffect';
@import 'modules/button';

$border-box-sizing: true !default;
$max-width: em(1000) !global;

// HEADER HOME
.site-header {
  @include pad(32px 16px);
  background-color: $white;
  height: 106px;
  /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);*/
  svg {
    width: 42px;
    height: 42px;
    position: absolute;
  }
  h1,
  h2 {
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 52px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
    line-height: 0.8;
    color: $grey-text;
  }
}

.site-header {
  &.work {
    @include pad(16px);
    height: 74px;
    h1, h2 {
      color: $white;
    }
    h2 {
      text-transform: none;
    }
  }
  &.am {
  background: $am;
  }
  &.an {
  background: $an;
  }
  &.me {
  background: $me;
  }
  &.cs {
  background: $cs;
  }
  &.ro {
  background: $ro;
  }
  &.ca {
  background: $ca;
  }
  &.da {
  background: $da;
  }
  &.ob {
  background: $ob;
  }
  &.sb {
  background: $sb;
  }
  &.dr_gp {
    background: $dr_gp;
  }
  &.dr_qu {
    background: $dr_qu;
  }
  &.dr_md {
    background: $dr_md;
  }
  &.dr_in {
    background: $dr_in;
  }
  &.dr_gm {
    background: $dr_gm;
  }
  &.dr_gm2 {
    background: $dr_gm2;
  }
  &.dr_so {
    background: $dr_so;
  }
  &.dr_fd {
    background: $dr_fd;
  }
} // header

main.main[class*="dr_"] .content p{
  img {
    max-width: 600px;
    display:block;
    margin:auto;
  }

}

.header-wrap {
  @include MQ(M) {
    @include outer-container(900px);
  }
}

@mixin seperator {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background: darken($bg, 5);
  position: absolute;
  left: 0;
}

.homepage {
  background-color: $bg;
  //box-shadow: 0 -1px 1px darken($bg, 10);
  //box-shadow: inset  0  8px 8px -8px darken($bg, 10), inset  0 -8px 8px -8px darken($bg, 10);
  &:before, &:after {
    @include seperator;
  }

  .last.content-wrap{
    @include pad(0 0 32px);
  }
}

.main {
  @include pad(0 16px 0 16px);
  header.section {
    @include row();
    @include pad(32px 0 8px);
    @include outer-container();
    }
}

.content-wrap {
  @include outer-container();
}

footer {
  @include pad(16px);
  @include row();
} //footer

.site-copyright {
  @include pad(32px 0 0 0);
  text-align:center;
  p {
    font-size: .8rem;
  }
}

//all icons footer and nav
@mixin icon($bg) {
  a {
    background: $bg;
    display: inline-block;
    @include padding(8px);
    &:hover {
      $scale-hover: 1.15;
      @include transform( scale($scale-hover) );
      border-radius: 100%;
      background: $black;
      svg {
        $scale-hover: 0.8;
        @include transform( scale($scale-hover) );
      }
    }
  }
  svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.my-social {
  @include outer-container;
  @include pad(32px 0 0 0);
    div {
      @include span-columns(2.4);
      display:block;
      text-align:center;
      @include icon(darken($grey-bg, 10));
  }
  &.share {
    margin-bottom: 92px;
    div {
      @include span-columns(3);
    }
  }
}
.social-wrap {
  @include MQ(M) {
    @include outer-container(70%);
  }
  @include MQ(L) {
    @include outer-container(50%);
  }
}

// CONTENT ON WORK
article.content {
  @include padding(16px 0 0);
  @include MQ(M) {
    @include outer-container(900px);
  }
  p:last-child {
    margin-bottom:0;
  }
  ul {
    margin: 20px;
    li {
    display: list-item;
    list-style-type: disc;
    }
  }
} //content

.share p {
    border-bottom: 1px solid $grey-bg;
    margin-bottom: 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;

    span {
       background:  $white;
       padding: 0 15px;
       position: relative;
       top: 13px;
   }
}

.site-footer-navigation {
  position: fixed;
  bottom: 16px;
  width: 100%;

  ul {
    display: flex;
    list-style-type: none;

    li {
      flex: 1;
      text-align: center;
      @include icon(rgba($white, .5));
      a:hover .icon-nav {
        fill: $white;
      }
    }

  }
}

.responsive-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
  margin-bottom: 20px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

.framed {
  @include padding(10px 10px 0 10px);
  background-color: $bg;
  @include margin(20px auto 20px auto);
}

.fullwidth {
  @include margin(20px auto 20px auto);
  display: block;
  width: 100%;
}

.animated-gif {
  @include padding(40px 10px);
  display: block;
  & img {
    display:block;
    max-width: 400px;
  }
}
