/*Contents

Media Queries -
Colors -
Typography -

*/


/***************MEDIA QUERIES*****************/
//https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// Begin tablet. iPhone 6/6s portrait max width = 375px, landscape max width = 667px; iPhone 6+/6+s portrait max width = 414px, landscape max width = 736px
$M:600px;
// Begin desktop. iPad mini/3/4 portrait width = 768px, landscape width = 1024px;
$L:900px;
// Use this for extra-large screens
$XL:1200px;

/****************COLORS***********************/
//CAP PALETTE

//Site Color Palette
$grey-text: #9B9B9B;
$brand: #002366;
$grey-bg: #E9E9E9;
$bg: #F5F5F5;

//metaps projects
$ro:        #5a617e;
$me:        #F2594B;
$an:        #7CBFB8;
$ob:        #F06022;
$da:        #072C3B;
$sb:        #55A2E5;
$ca:        #A0A563;
$cs:        #e56643;

$dr_gp: #739BC1;
$dr_qu: #B92B27;
$dr_md: #98A3AD;
$dr_in: #094E7D;


$orange:    #FFAC07;
$green:     #00DE8A;
$blue:      #00CFFF;
$pink:      #FF838A;
$purple:    #9777D1;
$gray:      #696969;


$brand-two: #51B3FE;
$brand-three: #013B68;
$button-color: $brand;
$warning-color: #66101F;
$accent-color: lighten($warning-color,10%);
$white:#ffffff;
$black:#000000;
$pdf: #ff0000; // Adobe Red
$excel: #008000; // Microsoft Excel Green
$word: #2A5699; // Microsoft Word Blue


//ANCHORS
$anchor-color:$brand;
$anchor-weight:400;
$anchor-transition:0.3s;

//Body
$body-background:$white;

/*************TYPOGRAPHY**********************/

// FONT FAMILIES
// See /gulp/scss/modules/_font-face.scss for conventions
// Font Options: abrilfatface, josefinsans, lato, leaguegothic, merriweather, montserrat, notoserif, opensans, playfairdisplay, ptsans, raleway, roboto, sourcesanspro, ubuntu
$use-font-face-module: true; //Set to true to include @font-face declarations for $font
$include-second-font: false; //Set to true to include @font-face declarations for $second-font
$include-font-awesome: true; //Set to true to include @font-face declarations for FontAwesome
$include-open-iconic: true; //Set to true to include @font-face declarations for Open-Iconic icons
$font: "avenir";
$second-font: "ptsans";
$base-font-family: $font, 'helvetica Neue', Helvetica, sans-serif;

// Font Base
$base-font-size: 18px; //Sets your 1 REM value
$base-font-weight: 400;
$base-font-color: #4A4A4A;
$base-line-height: 1.5;

//HEADINGS
$heading-font-family: $base-font-family;
$heading-font-color: $base-font-color;
$heading-font-weight: 200;

//Heading Text Transforms
$h1-text-transform:none;
$h2-text-transform:none;
$h3-text-transform:none;
$h4-text-transform:none;
$h5-text-transform:none;

//Heading Font Sizes (1 rem = $base-font-size; )
$h1-sm-screen:1.8rem;
$h1-m-screen:2.2rem;
$h1-l-screen:2.5rem;
$h2-sm-screen:1.6rem;
$h2-m-screen:1.9rem;
$h2-l-screen:2.1rem;
$h3-sm-screen:1.4rem;
$h3-m-screen:1.7rem;
$h3-l-screen:1.9rem;
$h4-sm-screen:1.2rem;
$h4-m-screen:1.4rem;
$h4-l-screen:1.6rem;
$h5-sm-screen:1.1rem;
$h5-m-screen:1.2rem;
$h5-l-screen:1.3rem;

//Blockquotes
$blockquote-bg:darken($body-background,10%);
$blockquote-background:darken($body-background,10%);
$blockquote-left-border:3px solid $brand;
$blockquote-font-size: 1.2em;
$blockquote-font-family: $base-font-family;

//Search
$input-placeholder-text-color:$black;
$footer-height:80px;
