{{ partial "site_header.html" . }}
{{ partial "site_header/site_header_single.html" $ }}
<main class="main {{ with .Params.class }}{{ . }}{{ end }}">
	<!-- Swiftype attributes will only show if Swiftype = true in config.toml. -->
	<article class="content"{{if .Site.Params.Swiftype }}data-swiftype-name="body" data-swiftype-type="text" {{ end }}>
		<header>
			<!-- <h1>{{ .Title }} - {{ .Section | upper }}</h1> -->
			<ul class="article-tags">
  			{{ range .Params.tags }}
    		<li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
  			{{ end }}
			</ul>
		</header>
		{{ .Content }}
	</article>
</main>
{{ partial "site_footer/site_footer_navigation.html" . }}
{{ partial "site_footer_single.html" . }}

<!-- This sample single layout shows how to set up disqus_comments conditionals at both the Site Param and Page Param level.  -->
<!-- {{if and .Params.comments .Site.Params.UseDisqus }}
	{{ partial "disqus_comments.html" . }}
{{ end }} -->
