html {
    font-size: $base-font-size; //This will equal 1REM
    line-height: $base-line-height;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    background: $body-background;
    color: $base-font-color;
    position:relative;
    min-height:100%;
}

p {
    line-height: $base-line-height;
    margin-bottom: $base-font-size;
}

a {
    color: $anchor-color;
    font-weight: $anchor-weight;
    -webkit-transition: $anchor-transition;
    -moz-transition: $anchor-transition;
    transition: $anchor-transition;
}

a.link {
  border-bottom: 1px solid $brand;
  -webkit-transition: $anchor-transition;
  -moz-transition: $anchor-transition;
  transition: $anchor-transition;

  &:hover {
    padding-bottom: 0.1rem;
  }
}

em,i {
    font-style:italic;
    font-weight:inherit;
}

strong,b {
    font-weight:700;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1rem;
li{
    display: list-item;
  }
}

input[type=search]{
    background-color:$body-background;
    &:focus {
        outline:none;
        border:0px;
    }
    @include placeholder {
        color:$input-placeholder-text-color;
    }
}
