
.postthumb {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
.postthumb .title {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  @include transition(all 0.3s ease-in-out);
  opacity:0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  color: #fff;

}
.postthumb img {
  display: block;
  position: relative;
  object-fit: cover;
  @include transform(ScaleY(1));
  @include transition(all 0.2s ease-in-out);
}
.postthumb h3 {
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 16px 16px 4px;
  @include transform(scale(0));
  @include transition(all 0.3s ease-in-out);
  opacity:0;
}
.postthumb p {
  font-family: sans-serif;
  position: relative;
  font-weight: normal;
  @include transform(scale(0));
  @include transition(all 0.3s ease-in-out);
  opacity:0;
}
.postthumb:hover img {
  @include transform(scale(1.5));
  opacity:.2;
}
.postthumb:hover .title {
  opacity:1;
  cursor: pointer;
}
.postthumb:hover h3 {
  @include transform(scale(1));
  opacity:1;
  cursor: pointer;
}
.postthumb:hover p {
  @include transform(scale(1));
  opacity:1;
}
