/* Sass Placeholder for animation timing */
%default-transition {@include transition(all .25s ease-out);}

.postthumb{
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  position: relative;
  line-height: 0;
  a{
    display: block;
    overflow: hidden;
    position: relative;
    color: $white;
    .project{
      @extend %default-transition;
      &:after{
        @extend %default-transition;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
      }
    }
    .title{
      @extend %default-transition;
      text-align: center;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 2;
      opacity: 0;

      h3{
        @extend %default-transition;
        @include transform(translateY(-50%));
        margin: 0;
        position: relative;
        font-size: 1.4rem;
        @include MQ(L) {
          font-size: 1.6rem;
        }
      }
      p{
        @include transition(all .35s ease-out .1s);
        @include transform(translateY(-45%));
        font-weight: 300;
        position: relative;
        font-size: .8rem;
        @include MQ(L) {
          font-size: 1rem;
        }
      }
    }
    &:hover{
      .project:after {
        background: rgba($black,.6);
      }
      .title{
        opacity: 1;
        line-height: .5;
        z-index: 5;
        transform: translateY(0%);
        h3{
          color: $white;
          margin-bottom: 1rem;
        }
        p {
          color: $white;
        }
      }
    }
  }
}
