<section class="my-social">
	<section class="social-wrap">
		{{if .Site.Params.Dribbble }}
	<div>
		<a href="{{.Site.Params.Dribbble}}" target="_blank" title="Visit the Dribbble account for {{.Site.Title}}">
			{{ partial "svg_icons/dribbble-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{if .Site.Params.Facebook }}
	<div>
		<a href="{{.Site.Params.Facebook}}" target="_blank" title="Visit the Facebook page for {{.Site.Title}}">
			{{ partial "svg_icons/facebook-square-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{if .Site.Params.Instagram }}
	<div>
		<a href="{{.Site.Params.Instagram}}" target="_blank" title="Visit the Instagram account for {{.Site.Title}}">
			{{ partial "svg_icons/instagram-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{ if .Site.Params.Pinterest }}
	<div>
		<a href="{{.Site.Params.Pinterest}}" target="_blank" title="Vist the Pinterest account for {{.Site.Title}}">
			{{ partial "svg_icons/pinterest-square-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{ if .Site.Params.GooglePlus }}
	<div>
		<a href="{{.Site.Params.GooglePlus}}" target="_blank" title="Visit the Google Plus account for {{.Site.Title}}">
			{{ partial "svg_icons/googleplus-square-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{ if .Site.Params.Tumblr }}
	<div>
		<a href="{{.Site.Params.Tumblr}}" target="_blank" title="Visit the Tumblr account for {{.Site.Title}}">
			{{ partial "svg_icons/tumblr-square-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{ if .Site.Params.GitHub }}
	<div>
		<a href="{{.Site.Params.GitHub}}" target="_blank" title="Visit the GitHub account for {{.Site.Title}}">
			{{ partial "svg_icons/github-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{if .Site.Params.Twitter }}
	<div>
		<a href="{{.Site.Params.Twitter}}" target="_blank" title="Visit the Twitter account for {{.Site.Title}}">
			{{ partial "svg_icons/twitter-icon.svg"}}
		</a>
	</div>
	{{ end }}
	{{ if .Site.Params.Linkedin }}
	<div>
		<a href="{{.Site.Params.Linkedin}}" target="_blank" title="Vist the LinkedIn account for {{.Site.Title}}">
	{{ partial "svg_icons/linkedin-icon.svg"}}
		</a>
	</div>
	{{ end }}
	</section>
</section>
