<section>
  <h3>Latest Dribbble work</h3>
</section>

<hr>

<div>
  <a href="https://dribbble.com/shots/2593094-Go-Pro-Angle-Adjust" title="Visit site">
    <img src="https://d13yacurqjgara.cloudfront.net/users/386409/screenshots/2593094/watch_gopro_app.gif" alt="Interactive Go Pro App">
  </a>
</div>
<div>
  <a href="https://dribbble.com/shots/2538962-Responsive-scrolling-nav" title="Visit site">
    <img src="https://d13yacurqjgara.cloudfront.net/users/386409/screenshots/2538962/sandbox_quora.gif" alt="Interactive nav bar">
  </a>
</div>
<div>
  <a href="https://dribbble.com/shots/2528869-Module-carousel-in-Framer" title="Visit site">
    <img src="https://d13yacurqjgara.cloudfront.net/users/386409/screenshots/2528869/carousel.gif" alt="Interactive modular carousel">
  </a>
</div>
<div>
  <a href="https://dribbble.com/shots/2484865-slideshow-prototype-for-Instagram" title="Visit site">
    <img src="https://d13yacurqjgara.cloudfront.net/users/386409/screenshots/2484865/instagram_slideshow.gif" alt="Prototype for Instagram modal">
  </a>
</div>
