{{ partial "site_header.html" . }}
{{ partial "site_header/site_header_home.html" . }}
<main class="main">
    <div class="content-wrap">
    {{ range .Data.Pages }} {{ if eq .Type "work" }}
    <section class="postthumb">
      <a href="{{ .Permalink }}">
        <div class="project {{ with .Params.class }}{{ . }}{{ end }}" >
        <img{{ with .Params.img_thumbnail }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
        <div class="title">
          <h3 class="name">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
        </div>
        </div>
      </a>
    </section>
    {{ end }}
    {{ end }}
    <header class="section">
      <h4>Recent personal projects</h4>
    </header>
    <div class="content-wrap">
    {{ range .Data.Pages }} {{ if eq .Type "personal-projects" }}
    <section class="postthumb dribbble">
      <a href="{{ .Permalink }}">
        <div class="project {{ with .Params.class }}{{ . }}{{ end }}" >
        <img{{ with .Params.img_thumbnail }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
        <div class="title">
          <h3 class="name">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
        </div>
        </div>
      </a>
    </section>
    {{ end }}
    {{ end }}
    </div>


    <!-- <div class="content-wrap">
    {{ range sort .Site.Params.dribbble }}
    <section class="postthumb dribbble">
    <a href="{{ .href }}">
      <div class="project">
      <img src="{{ .src }} " alt="{{ .alt}}">
      <div class="title">
        <h3 class="name">{{ .Title }}</h3>
        <p>{{ .Description }}</p>
      </div>
    </div>
    </a>
  </section>
    {{ end }}
  </div> -->

</main>
{{ partial "site_footer.html" . }}
