<!-- Note: global_head includes up to and including the opening <body> tag. -->
{{ partial "site_header.html" . }}
{{ partial "site_header/site_header_home.html" . }}

<main class="main">
  <article class="homepage">

    {{ range .Data.Pages }} {{ if eq .Type "work"}}
    <section class="postthumb">
      <a href="{{ .Permalink }}">
        <div class="project {{ with .Params.class }}{{ . }}{{ end }}" >
        <img{{ with .Params.img_thumbnail }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
        <div class="title">
          <h3 class="name">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
        </div>
      </a>

    </section>
    {{ end }} {{ end }}


  </article>
</main>
<!-- Note: site_footer.html includes up to and including the closing </body> tag;-->
{{ partial "site_footer.html" . }}
