{{ partial "site_header.html" . }}
{{ partial "site_header/site_header_home.html" . }}
<main class="main homepage">
  <header class="section">
    <h4>Professional projects</h4>
  </header>

    <div class="content-wrap">
      {{ range .Data.Pages }} {{ if eq .Type "work" }}
      <a class="box {{ with .Params.class }}{{ . }}{{ end }}" href="{{ .Permalink }}">
        <div class="caption">
          <h4>{{ .Title }}</h4>
          <p>{{ .Description }}</p>
        </div>
        <img{{ with .Params.img_thumbnail }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
      </a>
      {{ end }} {{ end }}
    </div>
<!-- content wrap -->

    <header class="section">
      <h4>Recent personal projects</h4>
    </header>
    <div class="content-wrap last">
      {{ range .Data.Pages }} {{ if eq .Type "personal-projects" }}
      <a class="box {{ with .Params.class }}{{ . }}{{ end }}" href="{{ .Permalink }}">
        <div class="caption">
          <h4>{{ .Title }}</h4>
          <p>{{ .Description }}</p>
        </div>
        <img{{ with .Params.img_thumbnail }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
      </a>
      {{ end }} {{ end }}
    </div>
    <!-- content wrap -->


</main>
{{ partial "site_footer.html" . }}
